[client]
port = 3307
socket = /usr/local/mysql/mysql.sock
[mysqld]
########basic settings########
server-id = 1
read_only=on
innodb_autoinc_lock_mode = 2
port = 3307
user = mysqlnew
#bind_address = 10.166.224.32
#autocommit = 0
character_set_server=utf8
skip_name_resolve = 1
skip-external-locking
max_connections = 2000
max_connect_errors = 10000
basedir = /usr/local/mysql
datadir = /data/mysql/data
tmpdir = /data/mysql/data
socket = /usr/local/mysql/mysql.sock
transaction_isolation = READ-COMMITTED
explicit_defaults_for_timestamp = 1
join_buffer_size = 134217728
tmp_table_size = 67108864
#max_allowed_packet = 16777216
max_allowed_packet = 134217728
sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER"
interactive_timeout = 7200
wait_timeout = 7200
read_buffer_size = 16777216
read_rnd_buffer_size = 33554432
sort_buffer_size = 3145728
########log settings########
log_error = /data/mysql/log/error.log
pid-file=/data/mysql/mysql.pid
slow_query_log = 1
slow_query_log_file = /data/mysql/log/slow.log
#log_queries_not_using_indexes = 1 
#log_slow_admin_statements = 1
#log_slow_slave_statements = 1
#log_throttle_queries_not_using_indexes = 10
expire_logs_days = 5
long_query_time = 3
#min_examined_row_limit = 100

#######innodb settings########
innodb_page_size = 16384
innodb_buffer_pool_size = 4G
innodb_buffer_pool_instances = 8
innodb_buffer_pool_load_at_startup = 1
innodb_buffer_pool_dump_at_shutdown = 1
innodb_lru_scan_depth = 2000
innodb_lock_wait_timeout = 20
innodb_io_capacity = 200
innodb_io_capacity_max = 600
innodb_flush_method = O_DIRECT
innodb_file_format = Barracuda
innodb_file_format_max = Barracuda
innodb_log_group_home_dir = /data/mysql/data
innodb_log_files_in_group = 3
innodb_undo_directory = /data/mysql/undo
innodb_undo_logs = 128
innodb_undo_tablespaces = 4
innodb_flush_neighbors = 1
innodb_log_file_size = 1G
innodb_log_buffer_size = 16777216
innodb_purge_threads = 4
innodb_large_prefix = 1
#innodb_thread_concurrency = 36
innodb_thread_concurrency = 0
innodb_print_all_deadlocks = 1
innodb_strict_mode = 1
innodb_sort_buffer_size = 5242880
#########extra#############
lower_case_table_names=1
connect_timeout = 20
back_log = 500
event_scheduler = off
max_binlog_size = 1024M
binlog_cache_size = 2M
slave-net-timeout = 10
skip-slave-start
#max_user_connections= 700
key_buffer_size = 64M
table_open_cache = 6144
table_definition_cache = 2048
max_heap_table_size = 67108864
thread_cache_size = 200
innodb_data_home_dir = /data/mysql/data
innodb_data_file_path = ibdata1:1G;ibdata2:16M:autoextend
innodb_flush_log_at_trx_commit = 1
#innodb_sync_spin_loops = 40
innodb_max_dirty_pages_pct = 75
innodb_support_xa = 1
#innodb_file_io_threads = 4
log_bin_trust_function_creators = 1
innodb_file_per_table
federated
innodb_read_io_threads = 4
innodb_write_io_threads = 10
innodb_purge_batch_size = 300
#innodb_old_blocks_pct = 75
innodb_change_buffering=all
#skip_archive
skip_blackhole
auto-increment-increment = 2
auto-increment-offset = 1
#####audit_log###########
#server_audit_events='CONNECT,QUERY,TABLE,QUERY_DDL,QUERY_DML,QUERY_DCL'
#server_audit_logging=on
#server_audit_file_path =/data/mysql/log/audit_log
#server_audit_file_rotate_size=200000000
#server_audit_file_rotations=200
#server_audit_file_rotate_now=ON
#[mysqld-5.7]
slave_parallel_type = LOGICAL_CLOCK
slave_parallel_workers = 8
innodb_buffer_pool_dump_pct = 40
innodb_page_cleaners = 4
innodb_undo_log_truncate = 1
innodb_max_undo_log_size = 2G
innodb_purge_rseg_truncate_frequency = 128
binlog_gtid_simple_recovery=1
log_timestamps=system
#transaction_write_set_extraction=MURMUR32
#show_compatibility_56=on
[mysqldump]
quick
max_allowed_packet=128M
[mysqld_safe]
open-files-limit = 130000
#malloc-lib=/usr/lib64/libjemalloc.so
#malloc-lib=/usr/lib64/libjemalloc.so
